{%extends '../base/base.html'%}
{%block content%}
<div class="content">

  <div class="">
          {%if messages%}
              {%for message in messages%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
              {%endfor%}
            {%endif%}
        </div>
<form method="POST">
  {%csrf_token%}
    <div class="card card-user">
              <div class="card-header">
                <!--<h5 class="card-title">Enquiry</h5>-->
              </div>
              <div class="card-body">
                <form>
                	 <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="" value="" name="first_name" required="required">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="" value="" name="last_name" required="required">
                      </div>
                    </div>
                      <div class="col-md-4 pl-1">
                      <div class="">
                        <label>Gender</label>
                        <select class="form-control" id="gender" name="gender">
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                            
                        </select>
                      </div>
                    </div>



                  </div>

                   <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Date of Birth :</label>
                        <input type="date" class="form-control date_pick" placeholder="" value="" name="date_of_birth" autocomplete="off">
                      </div>
                    </div>
                    <div class="col-md-8 pl-1">
                      <div class="form-group">
                        <label>Qualification</label>
                        <input type="text" class="form-control" placeholder="" value="" name="qualification" required="required">
                      </div>
                    </div>
                  </div>

                   <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="" value="" name="address">
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="">
                        <label>Work Experience</label>
                        <select class="form-control" id="work_experience" name="work_experience">
                        		<option value="0">Fresher</option>
          							    <option value="1">1 Year</option>
          							    <option value="2">2 Years</option>
          							    <option value="3">3 Years</option>
          							    <option value="4">4 Years</option>
                            <option value="5">5 Years</option>
							          </select>
                      </div>
                    </div>
                    <div class="col-md-3 px-1">
                      <div class="form-group">
                        <label>Contact Number</label>
                        <input type="number" class="form-control" placeholder="" value="" name="contact" required="required">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" placeholder="" name="email">
                      </div>
                    </div>
                  </div>
                 
                 
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="">
                        <label>Course</label>
                        <select class="form-control" name="course">
                          {%for course in courses%}
                          	<option value="{{course.id}}">{{course.title}}</option>
                          {%endfor%}
                        	
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4 px-1">
                      <div class="">
                        <label>Course Type</label>
                        <select class="form-control" name="course_type">
                        	<option value="0">Baisc Training</option>
                        	<option value="1">On Job Training</option>
                        	
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label>Expected Date & Time</label>
                        <input type="date" class="form-control date_time" required="required" name="expected_date" autocomplete="off">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Follow Up</label>
                        <textarea class="form-control textarea" name="follow_up" required="required"></textarea>
                      </div>
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Lead Sourse</label>
                        <input type="text" class="form-control" placeholder="" value="" name="lead_sourse">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Lead Generated Date</label>
                        <input type="date" class="form-control date_pick" required="required"  name="lead_date" autocomplete="off">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

        </form>
  

</div>



{%endblock%}