{%extends '../base/base.html'%}

    
{%block content%}
<div class="content">
<div class="container-fluid">

        <div class="">
          {%if messages%}
              {%for message in messages%}
                <div class="alert alert-danger alert-dismissible fade show" role="alert"><b>ERROR:</b><br>{{message}}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
              {%endfor%}
            {%endif%}
        </div>

        	    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Change Password</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
                       <form method="post">
                          {%csrf_token%}
                          {{form.as_p}}
                          <center><button name="submit" type="submit" class="btn btn-primary">Update Password</button></center>
                        </form>
             </div>
		            </div>
		        </div>
		    </div>


       <br>
 </div>
</div>





{%endblock%}